@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

body {
    background: #f1f1f1;
  .login-title{
    color: #d54d7b;
    font-family: "Great Vibes", cursive;
    font-size: 165px;
    line-height: 160px;
    font-weight: normal;
    margin-bottom: 0px;
     text-align: center;
    text-shadow: 0 1px 1px #fff;
    padding-top: 50px;
    @media #{$mobile-media} {
      font-size: 19.5vmin;
    }
  }
  .avatar-img{
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 200px;
    width: 200px;
    display: block;
    margin: 0 auto;
    top: -109px;
    margin-left: -43%;
    transform: translate(-43%);
    float: left !important;
    position:absolute;
    @media #{$mobile-media} {
      height: 100px !important;
      width: 100px !important;
    }
  }
  .login-content{
    background: #f1f1f1;
  }
  .relative-card{
    position: relative;
    margin: 110px auto;
    img{
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      height: 200px;
      width: 200px;
      display: block;
      margin: 0 auto;
      top: -109px;
      margin-left: -43%;
      transform: translate(-43%);
      float: left !important;
      position:absolute;
    }
  }
}
