@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

body {
    background: #f1f1f1;
        height: initial !important;
  .login-title{
    color: #d54d7b;
    font-family: "Great Vibes", cursive;
    font-size: 165px;
    line-height: 160px;
    font-weight: normal;
    margin-bottom: 0px;
     text-align: center;
    text-shadow: 0 1px 1px #fff;
    padding-top: 50px;
    @media #{$mobile-media} {
      font-size: 19.5vmin;
    }
  }
  .avatar-img{
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 200px;
    width: 200px;
    display: block;
    margin: 0 auto;
    top: -109px;
    margin-left: -43%;
    transform: translate(-43%);
    float: left !important;
    position:absolute;
    @media #{$mobile-media} {
      height: 100px !important;
      width: 100px !important;
    }
  }
  .login-content{
    background: #f1f1f1;
  }
  .relative-card{
    position: relative;
    margin: 110px auto;
    img{
      height: 200px;
      width: 200px;
      display: block;
      margin: 0px 50%;
      top: -109px;
      /* margin-left: -43%; */
      transform: translateX(-50%);
      /* float: left !important; */
      position: absolute;
      border-radius: 50%;
    }
    .ChenealValues{
      margin:0 auto;
    }
  }
  .md-focused {
    .lastinput.md-checked {
      .md-ink-ripple {
        &::before {
          background-color: rgba(220, 231, 117, 0.46) !important;

        }
      }
    }
  }

  .lastinput.md-checked .md-off {
    border-color:  #DCE775 !important;
  }

  .md-radio-button .md-container:before{
    background-color:  #DCE775 !important;
  }
  .lastinput{
    .md-on{
      background-color:#DCE775;
    }
    .md-ink-ripple {
      color: #DCE775 !important;
    }

  }
  [class*="channel"] {
    background: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    max-width: 98%;
    margin-top: 8px;
  }
  .channel-1 {
    border-left: 4px solid navy;
    
  }
  .channel-2 {
    border-left: 4px solid orange;
    
  }
  .channel-3 {
    border-left: 4px solid pink;
    
  }
  .channel-4 {
    border-left: 24px solid palegoldenrod;
    
  }

}
