/*********************/
/*                   */
/*   Global Vars     */
/*                   */
/*********************/

/* directions handling */
$main-side: left;
$other-side: right;


//*  colors  *//
$py-prime: #FF4800;
$py-success: #73CA01;
$py-danger: #E80000;
$py-warn: #f4c800;
$py-info: #5FA2CE;


//*  Sizes *//
$font-reg: 14px;

$mobile-media: "screen and (max-width: 690px)";
