{{que-table requests=model.requests}}

{{outlet}}
<h3 class="login-title">OnQueue - Admin</h3>

<div class="layout layout-sm-row">
  <div class="layout-column flex-xs flex-gt-xs-70 my">
      {{que-table requests=model isAdmin=true}}
  </div>
  <div class="layout-column stats flex-xs flex-gt-xs-30">
        {{#paper-card as |card|}}
        {{#card.title as |title|}}
          {{#title.text as |text|}}
           <p># waiting for help:</P>
             <h2>11</h2>
          {{/title.text}}
        {{/card.title}}
        {{#card.actions}}
        {{/card.actions}}
      {{/paper-card}}
          {{#paper-card as |card|}}
        {{#card.title as |title|}}
          {{#title.text as |text|}}
           <p>
              # VIPs waiting for help:
           </p>
           <h2>
             2
           </h2>
          {{/title.text}}
        {{/card.title}}
        {{#card.actions}}
        {{/card.actions}}
      {{/paper-card}}
          {{#paper-card as |card|}}
        {{#card.title as |title|}}
          {{#title.text as |text|}}
          <p>
              Cancelled requests:
           </p>
           <h2>
             20
           </h2>
          {{/title.text}}
        {{/card.title}}
        {{#card.actions}}
        {{/card.actions}}
      {{/paper-card}}
  </div>
</div>