<h3 class="login-title">Care Center</h3>
<div class="layout-row layout-xs-column">
  {{#paper-form onSubmit=(action "login") as |form|}}
    <div class="layout-column flex-xs flex-gt-xs-50 relative-card">
      {{#paper-card as |card|}}
        {{#card.title as |title|}}
          {{#title.text as |text|}}

            {{paper-input label="User Name" type="text" value=model.userName onChange=(action (mut model.userName)) iconRight="person"}}

            {{paper-input label="Station Number" type="number" value=model.station onChange=(action (mut model.station)) iconRight="person_pin_circle"}}


          {{/title.text}}
          {{title.media size="lg" src='https://cdn1.iconfinder.com/data/icons/user-pictures/100/male3-512.png' alt="Tomster" title="Tomster"}}
        {{/card.title}}
        {{#paper-radio-group
        groupValue=(readonly model.channel) class="ChenealValues"
        onChange=(action (mut model.channel)) as |group|}}
          {{#group.radio value="1" primary=true}} Chat {{/group.radio}}
          {{#group.radio value="2" warn=true}} Social Network {{/group.radio}}
          {{#group.radio class='lastinput' value="3"}} Email {{/group.radio}}
          {{#group.radio  value="4"}} Calls {{/group.radio}}
        {{/paper-radio-group}}
        {{#card.actions}}
        {{#form.submit-button raised=true primary=true}}Login{{/form.submit-button}}
        {{/card.actions}}
      {{/paper-card}}
      </div>
      {{/paper-form}}
  </div>
{{outlet}}
