<h3 class="login-title">Care Center</h3>
<div class="layout-row layout-xs-column">
  {{#paper-form onSubmit=(route-action "login") as |form|}}
    <div class="layout-column flex-xs flex-gt-xs-50 relative-card">
      {{#paper-card as |card|}}
        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.headline}}John Snow{{/text.headline}}

            {{paper-input label="User Name" type="text" value=name2 onChange=(action (mut name2)) iconRight="person"}}

            {{paper-input label="Station Number" type="number" value=statsion onChange=(action (mut statsion)) iconRight="person_pin_circle"}}


          {{/title.text}}
          {{title.media size="lg" src='https://cdn1.iconfinder.com/data/icons/user-pictures/100/male3-512.png' alt="Tomster" title="Tomster"}}
        {{/card.title}}
        {{#paper-radio-group
        groupValue=(readonly selectedFruit) class="ChenealValues"
        onChange=(action (mut selectedFruit)) as |group|}}
          {{#group.radio value="Chat" primary=true}} Chat {{/group.radio}}
          {{#group.radio value="SocialNetwork" warn=true}} Social Network {{/group.radio}}
          {{#group.radio value="Email"}} Email {{/group.radio}}
          {{#group.radio class='lastinput' value="Phone" success=true}} Phone {{/group.radio}}
        {{/paper-radio-group}}
        {{#card.actions}}
        {{#form.submit-button raised=true primary=true}}Login{{/form.submit-button}}
        {{/card.actions}}
      {{/paper-card}}
      </div>
      {{/paper-form}}
  </div>
{{outlet}}
